
/* metadata valuebox */
/* for value of valuebox */
#metadata h4 {
  color: #bec5cb!important;
}

#metadata h3 {
  font-size: 15px;
  white-space: normal;
}

/* for subtitle of valuebox */
#metadata p {
  font-size: 10px;
}

/* for subtitle of valuebox */
#metadata i {
  font-size: 30px;
}

/* for worldvar_title */
#worldvar_title h4 {
  color: #bec5cb;
}

/* for datatable theme */
#maindata_dt .box {
  background-color: #ABB2B9;
}

/* for control panel of datatable */

#dt_sel_run .checkbox-primary input[type="checkbox"]:checked+label::before,
#dt_sel_run .checkbox-primary input[type="radio"]:checked+label::before {
  background-color: #00FFFF!important;
  border-color: #00FFFF!important;
}

#dt_sel_init_vars .checkbox-primary input[type="checkbox"]:checked+label::before,
#dt_sel_init_vars .checkbox-primary input[type="radio"]:checked+label::before {
  background-color: #00FF00!important;
  border-color: #00FF00!important;
}

#dt_sel_step .checkbox-primary input[type="checkbox"]:checked+label::before,
#dt_sel_step .checkbox-primary input[type="radio"]:checked+label::before {
  background-color: #00FFFF!important;
  border-color: #00FFFF!important;
}

#dt_sel_msr_metrics .checkbox-primary input[type="checkbox"]:checked+label::before,
#dt_sel_msr_metrics .checkbox-primary input[type="radio"]:checked+label::before {
  background-color: #FF00FF!important;
  border-color: #FF00FF!important;
}

/* style for timeseries page */

.awesome-radio {
  padding-left: 18px!important;
}

#ts_mainplot .box {
  background-color: #ABB2B9;
}